
bash_prompt_normal='\[\e[0m\]'
bash_normal='\e[0m'
bash_prompt_blue='\[\e[0;34m\]'
bash_blue='\e[0;34m'
bash_prompt_bold_blue='\[\e[1;34m\]'
bash_bold_blue='\e[1;34m'
bash_prompt_underline_blue='\[\e[4;34m\]'
bash_underline_blue='\e[4;34m'
bash_prompt_background_blue='\[\e[44m\]'
bash_background_blue='\e[44m'
bash_prompt_black='\[\e[0;30m\]'
bash_black='\e[0;30m'
bash_prompt_bold_black='\[\e[1;30m\]'
bash_bold_black='\e[1;30m'
bash_prompt_underline_black='\[\e[4;30m\]'
bash_underline_black='\e[4;30m'
bash_prompt_background_black='\[\e[40m\]'
bash_background_black='\e[40m'
bash_prompt_yellow='\[\e[0;33m\]'
bash_yellow='\e[0;33m'
bash_prompt_bold_yellow='\[\e[1;33m\]'
bash_bold_yellow='\e[1;33m'
bash_prompt_underline_yellow='\[\e[4;33m\]'
bash_underline_yellow='\e[4;33m'
bash_prompt_background_yellow='\[\e[43m\]'
bash_background_yellow='\e[43m'
bash_prompt_cyan='\[\e[0;36m\]'
bash_cyan='\e[0;36m'
bash_prompt_bold_cyan='\[\e[1;36m\]'
bash_bold_cyan='\e[1;36m'
bash_prompt_underline_cyan='\[\e[4;36m\]'
bash_underline_cyan='\e[4;36m'
bash_prompt_background_cyan='\[\e[46m\]'
bash_background_cyan='\e[46m'
bash_prompt_purple='\[\e[0;35m\]'
bash_purple='\e[0;35m'
bash_prompt_bold_purple='\[\e[1;35m\]'
bash_bold_purple='\e[1;35m'
bash_prompt_underline_purple='\[\e[4;35m\]'
bash_underline_purple='\e[4;35m'
bash_prompt_background_purple='\[\e[45m\]'
bash_background_purple='\e[45m'
bash_prompt_green='\[\e[0;32m\]'
bash_green='\e[0;32m'
bash_prompt_bold_green='\[\e[1;32m\]'
bash_bold_green='\e[1;32m'
bash_prompt_underline_green='\[\e[4;32m\]'
bash_underline_green='\e[4;32m'
bash_prompt_background_green='\[\e[42m\]'
bash_background_green='\e[42m'
bash_prompt_white='\[\e[0;37m\]'
bash_white='\e[0;37m'
bash_prompt_bold_white='\[\e[1;37m\]'
bash_bold_white='\e[1;37m'
bash_prompt_underline_white='\[\e[4;37m\]'
bash_underline_white='\e[4;37m'
bash_prompt_background_white='\[\e[47m\]'
bash_background_white='\e[47m'
bash_prompt_red='\[\e[0;31m\]'
bash_red='\e[0;31m'
bash_prompt_bold_red='\[\e[1;31m\]'
bash_bold_red='\e[1;31m'
bash_prompt_underline_red='\[\e[4;31m\]'
bash_underline_red='\e[4;31m'
bash_prompt_background_red='\[\e[41m\]'
bash_background_red='\e[41m'
