
#define typeface_bar_glyph  Noto Mono 14
#define typeface_bar        pango:Noto Mono 13
#define typeface_rofi       Noto Mono 16

#define typeface_bar_glyph_wifi 
#define typeface_bar_glyph_cpu 
#define typeface_bar_glyph_battery_100 
#define typeface_bar_glyph_battery_80 
#define typeface_bar_glyph_battery_50 
#define typeface_bar_glyph_battery_20 
#define typeface_bar_glyph_battery_0 
#define typeface_bar_glyph_battery_charging 
#define typeface_bar_glyph_battery_ac 
#define typeface_bar_glyph_battery_unknown 
#define typeface_bar_glyph_time 
#define typeface_bar_glyph_workspace 

! Border and bar background
#define color_base03    #220132

! Unselected tab background / workspace background
#define color_base02    #48036B

! Selected tab background
#define color_base01    #8B0ACD

! Bar Glyph / inactive workspace color
#define color_base00    #BFBFBF

! Unselected text color
#define color_base0     #BFBFBF

! Workspace / window alert color
#define color_base1     #FF0000

! Active workspace color
#define color_base2     #FFFFFF

! Selected test Color
#define color_base3     #FFFFFF

#define color_yellow    #FFFF00
#define color_orange    #FF8000
#define color_red       #FF0000
#define color_magenta   #FF00FF
#define color_violet    #A000FF
#define color_blue      #0000FF
#define color_cyan      #00FFFF
#define color_green     #00FF00

#define gtk_theme oomox-materia-dark
#define icon_theme Paper

#include "/etc/regolith/styles/st-term"
#include "/etc/regolith/styles/i3-wm"
#include "/etc/regolith/styles/i3xrocks"
#include "/etc/regolith/styles/rofi"
#include "/etc/regolith/styles/gnome"
